@font-face {
  font-family: "SourceSans-1";
  src: url("./fonts/SourceSansPro-ExtraLight.otf");
}

@font-face {
  font-family: "SourceSans-2";
  src: url("./fonts/SourceSansPro-Light.otf");
}

@font-face {
  font-family: "SourceSans-3";
  src: url("./fonts/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "SourceSans-4";
  src: url("./fonts/SourceSansPro-Semibold.otf");
}

@font-face {
  font-family: "SourceSans-5";
  src: url("./fonts/SourceSansPro-Bold.otf");
}

/* Italics */
@font-face {
  font-family: "SourceSans-1i";
  src: url("./fonts/SourceSansPro-ExtraLightIt.otf");
}
@font-face {
  font-family: "SourceSans-2i";
  src: url("./fonts/SourceSansPro-LightIt.otf");
}
@font-face {
  font-family: "SourceSans-3i";
  src: url("./fonts/SourceSansPro-It.otf");
}
@font-face {
  font-family: "SourceSans-4i";
  src: url("./fonts/SourceSansPro-SemiboldIt.otf");
}
@font-face {
  font-family: "SourceSans-5i";
  src: url("./fonts/SourceSansPro-BoldIt.otf");
}
/* Link behavior */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

html {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

html::-webkit-scrollbar {
  display: none !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: "SourceSans-3";
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 75vw;
  background-color: #071629;
  padding: 0;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77%;
  margin-top: 2.5%;
}

.nav_bar img {
  width: 11vw;
}

.nav_box {
  width: 22%;
  display: flex;
  justify-content: space-between;
}

.nav_box_link {
  font-weight: 700;
  font-size: .8vw;
  color: white;
  font-family: "SourceSans-5";
}

/* BANNER */

.banner_section {
  width: 75%;
  color: white;
  box-sizing: border-box;
}

.banner_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.1%;
}

.banner_hero>h1 {
  font-family: "SourceSans-5";
  font-size: 8.4vw;
}

.banner_hero>p {
  font-weight: 700;
  font-size: 1.1vw;
  margin-top: -10%;
  display: flex;
  justify-content: space-between;
  width: 24%;
}

.banner_hero>button {
  background-color: #C271FF;
  font-family: "SourceSans-4";
  border-radius: 50px;
  border: none;
  color: white;
  box-shadow: 0px 2px 20px 0px #00000080;
  font-size: 1vw;
  padding: 1.3%;
  width: 15.5%;
  margin-top: 2%;
}

.banner_pros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_pros_title {
  margin-top: 15%;
  margin-bottom: 9%;
  font-family: "SourceSans-1";
}

.banner_pros_title>span {
  color: #C271FF;
  font-family: "SourceSans-5";
}

.banner_pros_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-left: 1%;
}
.pro {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.pro>img {
  width: 10vw;
  margin: 0;
}

.pro>h3 {
  font-family: "SourceSans-5";
  font-size: 1.3vw;
  margin: 0;
  margin-top: 5%;
}

.pro>p {
  font-family: "SourceSans-2i";
  font-size: 1.1vw;
  margin-top: 5%;
  text-align: center;
}

.pro>p>span {
  font-family: "SourceSans-2";
  font-size: .8vw;
}
/* MAIN BODY */

/* QUOTE SECTION */
.quote_section {
  background-color: #C271FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6%;
}

.quote_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.quote_img {
  width: 11vw;
  height: 11vw;
  margin-right: 4%;
}

.quotes_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 15vw;
  font-size: 1.5vw;
}

.quote {
  font-family: "SourceSans-3";
  margin: 0;
  margin-bottom: 2%;
}

.quote_name {
  font-family: "SourceSans-5";
  margin-bottom: 1%;
}

.quote_subtitle {
  font-family: "SourceSans-3i";
  margin: 0;
}
/* FOOTER */
